<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h1>Đăng Ký Thành Công</h1>
    <p>Họ và Tên: <%= fullName %></p>
    <p>Email: <%= email %></p>
    <a href="/">Trở về Trang Chủ</a>
</body>
</html>